<!DOCTYPE html>
<html>
<head>
  <title>MessageBoard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>
  * {
    margin: 0;
    padding: 0;
  }
   
  a {
    color: white;
    font-weight: bold;
  }
     
  div.panel-body {
    color: #193f6a;
    line-height: 25px;
  }
  
  div.form-horizontal {
    
  }
  
  nav {
    background-color: #264f73;
     }
  
  label {
    color: black;
  }   
  
   </style>
  
  
</head>


<body>
  <nav class="navbar">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Message Board</a>
      </div>
    </div>
  </nav>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
